<!-- Owl Carousel -->
<link rel="stylesheet" type="text/css" href="~/lib/owlcarousel/dist/assets/owl.carousel.min.css">
<link rel="stylesheet" type="text/css" href="~/lib/owlcarousel/dist/assets/owl.theme.default.min.css">

<link rel="stylesheet" type="text/css" href="~/assets/css/Home/index.css" />

@{
    ViewData["Title"] = "Home";
}

<main role="main" class="flex-shrink-0" >
    <div class="container my-5">
        @* Header Carousel *@
        <section id="carouselBanner" class="section carousel carousel-dark slide" data-bs-ride="carousel">
            @* Buttons *@
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselBanner" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button> 
                <button type="button" data-bs-target="#carouselBanner" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselBanner" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            @* Body *@
            <div class="carousel-inner">
                
                <div class="carousel-item active" data-bs-interval="10000">
                    <div class="row align-items-center justify-content-between ">
                        <div class="col col-lg-6">
                            <p>Os melhores artesanatos para você!</p>
                            <h1 class="fw-bold">Produtos artesanais já disponíveis. Confira!</h1>
                            <a class="btn bg-red-medium text-light my-3 px-4" asp-area="" asp-controller="" asp-action="">Comprar</a>
                        </div>
                        <div class="col col-lg-5" id="figure">
                            <figure class="figure">
                                <img src="~/assets/img/coruja_produto.png" class="figure-img img-fluid" alt="...">
                            </figure>
                        </div>
                        
                    </div>
                </div>

                <div class="carousel-item" data-bs-interval="20000">
                    <div class="row align-items-center justify-content-between ">
                        <div class="col col-lg-6">
                            <p>Os melhores artesanatos para você!</p>
                            <h1 class="fw-bold">Produtos artesanais já disponíveis. Confira!</h1>
                            <a class="btn bg-red-medium text-light my-3 px-4" asp-area="" asp-controller="" asp-action="">Comprar</a>
                        </div>
                        <div class="col col-lg-5" id="figure">
                            <figure class="figure">
                                <img src="~/assets/img/coruja_produto.png" class="figure-img img-fluid" alt="...">
                            </figure>
                        </div>
                        
                    </div>
                </div>

                <div class="carousel-item" data-bs-interval="30000">
                    <div class="row align-items-center justify-content-between ">
                        <div class="col col-lg-6">
                            <p>Os melhores artesanatos para você!</p>
                            <h1 class="fw-bold">Produtos artesanais já disponíveis. Confira!</h1>
                            <a class="btn bg-red-medium text-light my-3 px-4" asp-area="" asp-controller="" asp-action="">Comprar</a>
                        </div>
                        <div class="col col-lg-5" id="figure">
                            <figure class="figure">
                                <img src="~/assets/img/coruja_produto.png" class="figure-img img-fluid" alt="...">
                            </figure>
                        </div>
                        
                    </div>
                </div>

            </div>
           
        </section>

        @* Produtos em destaque *@
        <section id="carouselProducts" class="section" data-bs-ride="">
            <h2 class="fw-bold text-center">Produtos em destaque</h2>
                <div class="owl-carousel owl-theme">
                    <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
        </section>


        @* Promoções *@
         <section id="carouselPromotions" class="section carousel carousel-dark slide" data-bs-ride="carouselPromotions">
            <h2 class="fw-bold text-center">Promoções</h2>

        </section>

        @* Origens *@
        <section class="section">
            <h2 class="fw-bold text-center">Origens</h2>
        </section>
    </div>
</main>


<!-- Owl Carousel -->
<!-- <script type="text/javascript" src="~/lib/owlcarousel/dist/owl.carousel.min.js"></script> -->
<script type="text/javascript" language="javascript" src="~/assets/js/Home/index.js"></script>

