<link rel="stylesheet" type="text/css" href="~/assets/css/Home/index.css" />

@{
    ViewData["Title"] = "Home";
}

<main role="main" class="flex-shrink-0" >
    <div class="container">
        <div class="image">
        <img src="/assets/img/LogoKuarasy.png" alt="produto">
        </div>
        <div class="text">
        <p>Os melhores artesanatos para voc&#234;&#33;</p>
        <h2 class="title">Produtos artesanais j&#225; dispon&#237;veis. Confira&#33;</h2>
        <button class="button" href="#">Comprar</button>
        </div>
    </div>
</main>