<link rel="stylesheet" type="text/css" href="~/assets/css/owlcarousel.css" />
<link rel="stylesheet" href="~/assets/css/Home/origin.css" />

@{
    ViewData["Title"] = "Origin";
}


<section class="banner py-2">
    <div class="container text-light">
    <div class="row mb-0">
    <div class="col-sm d-flex align-items-center">
        <div class="row py-3">
        <h1 class="fw-bold mt-3"> 
        Conheça as comunidades da América!
        </h1>
        <p class="my-4"> 
        A cultura é um dos bens mais importantes para humanidade, e é por isso que nesta página faremos junto com você uma imersão cultural na história das comunidades imigrantes que queros que você conheça melhor. E é isto que move o Kuarasy!
        </p>
        <a class="btn bg-red-medium text-light my-2" asp-area="" asp-controller="" asp-action="">
        <h3>Menu de Comunidades</h3>
        </a>
        </div> 
    </div>

    <div class="col-sm">
        <figure class="figure mb-0">
        <img src="" alt="" class="figure-img img-fluid mb-0">
        </figure>
    </div>

    </div>  
    </div>
    </section>



<main role="main" class="flex-shrink-0" >
    <div class="container">
    </div>
</main>