<link rel="stylesheet" href="~/assets/css/Home/origin.css" />

@{
    ViewData["Title"] = "Origin";
}


<section class="banner py-2">
    <div class="container text-light">
    <div class="row mb-0">
    <div class="col-sm d-flex align-items-center">
        <div class="row">
        <h1 class="fw-bold mt-3"> 
        </h1>
        <p class="my-4"> </p>
        </div> 
    </div>

    <div class="col-sm">
        <figure class="figure mb-0">
        <img src="" alt="" class="figure-img img-fluid mb-0">
        </figure>
    </div>

    </div>  
    </div>
    </section>



<main role="main" class="flex-shrink-0" >
    <div class="container">
    </div>
</main>