/* Base */
figcaption{
    padding: 1rem 2rem!important;
    max-width: 28rem!important;
}

h2{
    color: var(--red);
}

img{
    object-fit: contain!important;
    max-width: 26rem!important;
    max-height: 26rem!important;
}

figure{
    display: flex!important;
    flex-direction: column;
    align-items: center!important;
    justify-content: center!important;
}

.figure img{
    background-color: var(--white);
}

#info .nav-link,
#history h3{
  color: var(--red)!important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

#info .nav-link:hover,
#history h3:hover{
  color: var(--red-medium)!important;
}

.border{
    border: 1px solid var(--yellow)!important;
}

/*  */

#detail i{
    font-size: 2rem!important;
}

#detail a{
    font-size: 1.5rem!important;
}

#detail .buy>*{
    padding-right: 1rem!important;
    padding-left: 1rem!important;
}

#description .text,
#history .text{
    text-align: justify!important;
}