USE [master]
GO
/****** Object:  Database [kuarasy]    Script Date: 07/12/2021 12:12:58 ******/
CREATE DATABASE [kuarasy]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'kuarasy', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\kuarasy.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'kuarasy_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\kuarasy_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [kuarasy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [kuarasy]
GO
/****** Object:  Table [dbo].[avaliacao]    Script Date: 07/12/2021 12:12:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[avaliacao](
	[id_avaliacao] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](255) NULL,
	[comentario] [varchar](max) NULL,
	[nota] [int] NOT NULL,
	[id_comprador] [int] NOT NULL,
	[id_produto] [int] NOT NULL,
 CONSTRAINT [PK_avaliacao] PRIMARY KEY CLUSTERED 
(
	[id_avaliacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categoria]    Script Date: 07/12/2021 12:12:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categoria](
	[id_categoria] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](30) NOT NULL,
 CONSTRAINT [PK_categoria] PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cidade]    Script Date: 07/12/2021 12:12:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cidade](
	[id_cidade] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](75) NOT NULL,
	[id_estado] [int] NOT NULL,
 CONSTRAINT [PK_cidade] PRIMARY KEY CLUSTERED 
(
	[id_cidade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[compra]    Script Date: 07/12/2021 12:12:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[compra](
	[id_compra] [int] IDENTITY(1,1) NOT NULL,
	[data_compra] [timestamp] NOT NULL,
	[observacao] [varchar](max) NULL,
	[valor_total] [float] NOT NULL,
	[data_entrega] [date] NOT NULL,
	[id_produto] [int] NOT NULL,
	[id_comprador] [int] NOT NULL,
 CONSTRAINT [PK_compra] PRIMARY KEY CLUSTERED 
(
	[id_compra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comprador]    Script Date: 07/12/2021 12:12:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comprador](
	[id_comprador] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
 CONSTRAINT [PK_comprador] PRIMARY KEY CLUSTERED 
(
	[id_comprador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[endereco]    Script Date: 07/12/2021 12:12:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[endereco](
	[id_endereco] [int] IDENTITY(1,1) NOT NULL,
	[cep] [char](10) NOT NULL,
	[rua] [varchar](255) NOT NULL,
	[numero] [int] NOT NULL,
	[bairro] [varchar](255) NOT NULL,
	[logradouro] [varchar](255) NOT NULL,
	[complemento] [varchar](255) NOT NULL,
	[id_cidade] [int] NOT NULL,
	[id_usuario] [int] NOT NULL,
 CONSTRAINT [PK_endereco] PRIMARY KEY CLUSTERED 
(
	[id_endereco] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estado]    Script Date: 07/12/2021 12:12:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estado](
	[id_estado] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](75) NOT NULL,
	[uf] [char](2) NOT NULL,
 CONSTRAINT [PK_estado] PRIMARY KEY CLUSTERED 
(
	[id_estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[origem]    Script Date: 07/12/2021 12:12:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[origem](
	[id_origem] [int] IDENTITY(1,1) NOT NULL,
	[pais] [varchar](50) NOT NULL,
	[continente] [varchar](255) NOT NULL,
	[descricao] [varchar](max) NOT NULL,
	[imagem_origem] [varchar](255) NULL,
 CONSTRAINT [PK_origem] PRIMARY KEY CLUSTERED 
(
	[id_origem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[origem_produto]    Script Date: 07/12/2021 12:12:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[origem_produto](
	[id_produto] [int] NOT NULL,
	[id_origem] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[produto]    Script Date: 07/12/2021 12:12:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[produto](
	[id_produto] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](255) NOT NULL,
	[preco] [decimal](9, 2) NULL,
	[descricao] [varchar](max) NULL,
	[quantidade] [int] NOT NULL,
	[peso] [float] NOT NULL,
	[imagem] [varchar](255) NULL,
	[id_tamanho] [int] NOT NULL,
	[id_vendedor] [int] NULL,
	[id_tipo] [int] NOT NULL,
	[historia] [varchar](max) NULL,
	[desconto] [decimal](2, 2) NULL,
 CONSTRAINT [PK_produto] PRIMARY KEY CLUSTERED 
(
	[id_produto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tamanho]    Script Date: 07/12/2021 12:12:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tamanho](
	[id_tamanho] [int] IDENTITY(1,1) NOT NULL,
	[altura] [float] NOT NULL,
	[largura] [float] NOT NULL,
	[comprimento] [float] NOT NULL,
 CONSTRAINT [PK_tamanho] PRIMARY KEY CLUSTERED 
(
	[id_tamanho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[telefone]    Script Date: 07/12/2021 12:12:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[telefone](
	[id_telefone] [int] IDENTITY(1,1) NOT NULL,
	[ddd] [int] NOT NULL,
	[numero] [char](9) NOT NULL,
	[tipo_telefone] [varchar](60) NOT NULL,
 CONSTRAINT [PK_telefone] PRIMARY KEY CLUSTERED 
(
	[id_telefone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[telefone_usuario]    Script Date: 07/12/2021 12:12:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[telefone_usuario](
	[id_telefone] [int] NOT NULL,
	[id_usuario] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo]    Script Date: 07/12/2021 12:12:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo](
	[id_tipo] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](60) NOT NULL,
	[id_categoria] [int] NOT NULL,
 CONSTRAINT [PK_tipo] PRIMARY KEY CLUSTERED 
(
	[id_tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 07/12/2021 12:12:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](120) NOT NULL,
	[sobrenome] [varchar](255) NOT NULL,
	[cpf] [char](14) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[data_nascimento] [date] NOT NULL,
	[nacionalidade] [varchar](60) NOT NULL,
	[senha] [nvarchar](max) NOT NULL,
	[tipo_usuario] [tinyint] NOT NULL,
	[imagem] [varbinary](max) NULL,
 CONSTRAINT [PK_usuario] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vendedor]    Script Date: 07/12/2021 12:12:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vendedor](
	[id_vendedor] [int] IDENTITY(1,1) NOT NULL,
	[cnpj] [char](14) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[biografia] [nvarchar](max) NULL,
 CONSTRAINT [PK_vendedor] PRIMARY KEY CLUSTERED 
(
	[id_vendedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[categoria] ON 

INSERT [dbo].[categoria] ([id_categoria], [nome]) VALUES (1, N'Vestuários')
INSERT [dbo].[categoria] ([id_categoria], [nome]) VALUES (2, N'Instrumentos')
INSERT [dbo].[categoria] ([id_categoria], [nome]) VALUES (3, N'Decorações')
SET IDENTITY_INSERT [dbo].[categoria] OFF
GO
SET IDENTITY_INSERT [dbo].[cidade] ON 

INSERT [dbo].[cidade] ([id_cidade], [nome], [id_estado]) VALUES (1, N'São Paulo', 25)
INSERT [dbo].[cidade] ([id_cidade], [nome], [id_estado]) VALUES (2, N'Rio Verde', 8)
INSERT [dbo].[cidade] ([id_cidade], [nome], [id_estado]) VALUES (3, N'Vitória', 7)
SET IDENTITY_INSERT [dbo].[cidade] OFF
GO
SET IDENTITY_INSERT [dbo].[estado] ON 

INSERT [dbo].[estado] ([id_estado], [nome], [uf]) VALUES (1, N'Acre', N'AC')
INSERT [dbo].[estado] ([id_estado], [nome], [uf]) VALUES (2, N'Alagoas', N'AL')
INSERT [dbo].[estado] ([id_estado], [nome], [uf]) VALUES (3, N'Amapá', N'AP')
SET IDENTITY_INSERT [dbo].[estado] OFF
GO
SET IDENTITY_INSERT [dbo].[origem] ON 

SET IDENTITY_INSERT [dbo].[origem] OFF
GO
INSERT [dbo].[origem_produto] ([id_produto], [id_origem]) VALUES (2, 1)
INSERT [dbo].[origem_produto] ([id_produto], [id_origem]) VALUES (3, 1)
INSERT [dbo].[origem_produto] ([id_produto], [id_origem]) VALUES (4, 1)
GO
SET IDENTITY_INSERT [dbo].[produto] ON 

SET IDENTITY_INSERT [dbo].[produto] OFF
GO
SET IDENTITY_INSERT [dbo].[tamanho] ON 

INSERT [dbo].[tamanho] ([id_tamanho], [altura], [largura], [comprimento]) VALUES (1, 30, 25, 56)
INSERT [dbo].[tamanho] ([id_tamanho], [altura], [largura], [comprimento]) VALUES (2, 30, 25, 56)
INSERT [dbo].[tamanho] ([id_tamanho], [altura], [largura], [comprimento]) VALUES (3, 8, 39, 0)
SET IDENTITY_INSERT [dbo].[tamanho] OFF
GO
SET IDENTITY_INSERT [dbo].[telefone] ON 

INSERT [dbo].[telefone] ([id_telefone], [ddd], [numero], [tipo_telefone]) VALUES (1, 11, N'986332802', N'Celular')
INSERT [dbo].[telefone] ([id_telefone], [ddd], [numero], [tipo_telefone]) VALUES (2, 64, N'968873634', N'Celular')
INSERT [dbo].[telefone] ([id_telefone], [ddd], [numero], [tipo_telefone]) VALUES (3, 27, N'969537150', N'Celular')
SET IDENTITY_INSERT [dbo].[telefone] OFF
GO
SET IDENTITY_INSERT [dbo].[tipo] ON 

INSERT [dbo].[tipo] ([id_tipo], [nome], [id_categoria]) VALUES (1, N'Brinco', 4)
INSERT [dbo].[tipo] ([id_tipo], [nome], [id_categoria]) VALUES (2, N'Colar', 4)
INSERT [dbo].[tipo] ([id_tipo], [nome], [id_categoria]) VALUES (3, N'Pulseira', 4)
SET IDENTITY_INSERT [dbo].[tipo] OFF
GO
SET IDENTITY_INSERT [dbo].[usuario] ON 

INSERT [dbo].[usuario] ([id_usuario], [nome], [sobrenome], [cpf], [email], [data_nascimento], [nacionalidade], [senha], [tipo_usuario], [imagem]) VALUES (1, N'Luiz', N'da Silva', N'25666655086   ', N'luiz@gmail.com', CAST(N'1999-05-12' AS Date), N'Brasileiro', N'12345678', 0, NULL)
INSERT [dbo].[usuario] ([id_usuario], [nome], [sobrenome], [cpf], [email], [data_nascimento], [nacionalidade], [senha], [tipo_usuario], [imagem]) VALUES (2, N'Maria Aparecida', N'Oliveira', N'93726828028   ', N'maria.aparecida@gmail.com', CAST(N'1970-12-11' AS Date), N'Brasileira', N'23456789', 1, NULL)
INSERT [dbo].[usuario] ([id_usuario], [nome], [sobrenome], [cpf], [email], [data_nascimento], [nacionalidade], [senha], [tipo_usuario], [imagem]) VALUES (3, N'Fernando', N'Lopez', N'79508141018   ', N'fernando@gmail.com', CAST(N'1999-11-04' AS Date), N'Boliviano', N'34567891', 1, NULL)
SET IDENTITY_INSERT [dbo].[usuario] OFF
GO
SET IDENTITY_INSERT [dbo].[vendedor] ON 

INSERT [dbo].[vendedor] ([id_vendedor], [cnpj], [id_usuario], [biografia]) VALUES (7, N'08353879000167', 5, NULL)
INSERT [dbo].[vendedor] ([id_vendedor], [cnpj], [id_usuario], [biografia]) VALUES (8, N'38796094000120', 3, NULL)
INSERT [dbo].[vendedor] ([id_vendedor], [cnpj], [id_usuario], [biografia]) VALUES (9, N'49693906000128', 6, NULL)
SET IDENTITY_INSERT [dbo].[vendedor] OFF
GO
ALTER TABLE [dbo].[avaliacao]  WITH CHECK ADD  CONSTRAINT [avaliacao_id_comprador_fk] FOREIGN KEY([id_comprador])
REFERENCES [dbo].[comprador] ([id_comprador])
GO
ALTER TABLE [dbo].[avaliacao] CHECK CONSTRAINT [avaliacao_id_comprador_fk]
GO
ALTER TABLE [dbo].[avaliacao]  WITH CHECK ADD  CONSTRAINT [avaliacao_id_produto_fk] FOREIGN KEY([id_produto])
REFERENCES [dbo].[produto] ([id_produto])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[avaliacao] CHECK CONSTRAINT [avaliacao_id_produto_fk]
GO
ALTER TABLE [dbo].[cidade]  WITH CHECK ADD  CONSTRAINT [cidade_id_estado_fk] FOREIGN KEY([id_estado])
REFERENCES [dbo].[estado] ([id_estado])
GO
ALTER TABLE [dbo].[cidade] CHECK CONSTRAINT [cidade_id_estado_fk]
GO
ALTER TABLE [dbo].[compra]  WITH CHECK ADD  CONSTRAINT [compra_id_comprador_fk] FOREIGN KEY([id_comprador])
REFERENCES [dbo].[comprador] ([id_comprador])
GO
ALTER TABLE [dbo].[compra] CHECK CONSTRAINT [compra_id_comprador_fk]
GO
ALTER TABLE [dbo].[compra]  WITH CHECK ADD  CONSTRAINT [compra_id_produto_fk] FOREIGN KEY([id_produto])
REFERENCES [dbo].[produto] ([id_produto])
GO
ALTER TABLE [dbo].[compra] CHECK CONSTRAINT [compra_id_produto_fk]
GO
ALTER TABLE [dbo].[comprador]  WITH CHECK ADD  CONSTRAINT [comprador_id_usuario_fk] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuario] ([id_usuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[comprador] CHECK CONSTRAINT [comprador_id_usuario_fk]
GO
ALTER TABLE [dbo].[endereco]  WITH CHECK ADD  CONSTRAINT [endereco_id_cidade_fk] FOREIGN KEY([id_cidade])
REFERENCES [dbo].[cidade] ([id_cidade])
GO
ALTER TABLE [dbo].[endereco] CHECK CONSTRAINT [endereco_id_cidade_fk]
GO
ALTER TABLE [dbo].[endereco]  WITH CHECK ADD  CONSTRAINT [endereco_id_usuario_fk] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[endereco] CHECK CONSTRAINT [endereco_id_usuario_fk]
GO
ALTER TABLE [dbo].[origem_produto]  WITH CHECK ADD  CONSTRAINT [origemproduto_id_origem_fk] FOREIGN KEY([id_origem])
REFERENCES [dbo].[origem] ([id_origem])
GO
ALTER TABLE [dbo].[origem_produto] CHECK CONSTRAINT [origemproduto_id_origem_fk]
GO
ALTER TABLE [dbo].[origem_produto]  WITH CHECK ADD  CONSTRAINT [origemproduto_id_produto_fk] FOREIGN KEY([id_produto])
REFERENCES [dbo].[produto] ([id_produto])
GO
ALTER TABLE [dbo].[origem_produto] CHECK CONSTRAINT [origemproduto_id_produto_fk]
GO
ALTER TABLE [dbo].[produto]  WITH CHECK ADD  CONSTRAINT [produto_id_tamanho_fk] FOREIGN KEY([id_tamanho])
REFERENCES [dbo].[tamanho] ([id_tamanho])
GO
ALTER TABLE [dbo].[produto] CHECK CONSTRAINT [produto_id_tamanho_fk]
GO
ALTER TABLE [dbo].[produto]  WITH CHECK ADD  CONSTRAINT [produto_id_tipo_fk] FOREIGN KEY([id_tipo])
REFERENCES [dbo].[tipo] ([id_tipo])
GO
ALTER TABLE [dbo].[produto] CHECK CONSTRAINT [produto_id_tipo_fk]
GO
ALTER TABLE [dbo].[produto]  WITH CHECK ADD  CONSTRAINT [produto_id_vendedor_fk] FOREIGN KEY([id_vendedor])
REFERENCES [dbo].[vendedor] ([id_vendedor])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[produto] CHECK CONSTRAINT [produto_id_vendedor_fk]
GO
ALTER TABLE [dbo].[telefone_usuario]  WITH CHECK ADD  CONSTRAINT [telefoneusuario_id_telefone_fk] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[telefone_usuario] CHECK CONSTRAINT [telefoneusuario_id_telefone_fk]
GO
ALTER TABLE [dbo].[telefone_usuario]  WITH CHECK ADD  CONSTRAINT [telefoneusuario_id_usuario_fk] FOREIGN KEY([id_telefone])
REFERENCES [dbo].[telefone] ([id_telefone])
GO
ALTER TABLE [dbo].[telefone_usuario] CHECK CONSTRAINT [telefoneusuario_id_usuario_fk]
GO
ALTER TABLE [dbo].[tipo]  WITH CHECK ADD  CONSTRAINT [tipo_id_categoria_fk] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[categoria] ([id_categoria])
GO
ALTER TABLE [dbo].[tipo] CHECK CONSTRAINT [tipo_id_categoria_fk]
GO
ALTER TABLE [dbo].[vendedor]  WITH CHECK ADD  CONSTRAINT [vendedor_id_usuario_fk] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuario] ([id_usuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[vendedor] CHECK CONSTRAINT [vendedor_id_usuario_fk]
GO
USE [master]
GO